@import "./variables";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1{
    color: #797979;
}

.btn {
    padding: 0.5em 1em;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: $arinto-blue;
    color: white;
    cursor: pointer;
    &:hover{
        background-color: darken($arinto-blue, 10%);
    }
    &.btn-white{
        margin-right: 1em;
        background-color: white;
        color: #323232;
        border: 1px solid #e0e0e0;
        &:hover{
            background-color: darken(white, 10%);
        }
    }
}
  // disabled button
  .disabled {
    opacity: 0.7;
  }